@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}



h1 {
    font-size: 30px;

}


p, a {
    font-size: 14px;    
}



.divheader {
    width: 100vw;
    height: 15px;
    background-color: black;
    gap: 1em;
    color: #ffffff;
    align-content: center;
    display: flex;
    align-items: center;
    position: fixed;
    padding-top: 2em;
    padding-left: 1%;
    padding-bottom: 1em;
    z-index: 99;
}

.divheader a {
    color: #ffffff;
}

.divheader a:hover{
    color: #ffffff;
}



#logo {
    width: 500px;
}

.section1 {
    background-color: #2a2a2a;
    background-image: linear-gradient(to right, #000000, #000000c9, #ffffff00), url(./img/logo.png);
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    color: #ffffff;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 5%;
}



span {
    background: -webkit-linear-gradient(#000000, #ff0000, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.section2 {
    background-color: #ffffff;
    background-image: linear-gradient(to right, #ffffff, #979797e8, #3c3c3c), url(./img/craiyon_093132_Background_Image_with_thematic_Barber_Shop_website_with_color_white_and_black.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #000000;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 5%;
}

.section-map{
    padding: 5%;
    background-color: #2a2a2a;
    color: white;
    width: 100vw;
    height: 200x;
    display: flex;
    gap: 1em;
}



.carrossel {
    width: 100vw;
    
    background-color: #2a2a2a;
    padding: 5%;
}

#carrossel {
    height: 100%;
}

.maindiv {
    width: 50%;

}

.secdiv {
    width: 50%;
}

.divfooter {
    width: 100vw;
    height: 60px;
    background-color: black;
    gap: 1em;
    color: #ffffff;
    display: flex;
    align-items: center;
    align-content: center;   
    padding-top: 1%;
    padding-right: 0;
    padding-bottom: 2px;    
    margin: 0;
}
.divfooter > p {
    text-align: right;
}

.iconfooter {
    width: 30px; 
    border-radius: 50%;
    
}

#logof{
    margin-bottom: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.maindivf {
    width: 60%;
}

.secdivf {
    width: 40%;
    text-align: right;
    margin-right: 3%;
}